dlib-bin
cmake
joblib==1.4.2
numpy
scipy
streamlit
tensorflow
keras==2.13
opencv-contrib-python-headless
streamlit_webrtc==0.47.0
av==10.0.0
tensorflow-cpu==2.13.0
streamlit
tensorboard
tensorboard-data-server
tensorflow_decision_forests
tensorflow-io-gcs-filesystem
json5
jsonpointer
jsonschema
jsonschema-specifications
